<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/w3.css"> 
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <title>Login</title>
</head>
<body>
<div class="w3-cell-row w3-mobile">
    <div class="w3-cell w3-mobile">
        <header class="w3-container w3-blue">
            <h3>Enter a nickname:</h3>
            {{ info }}
        </header>

        <form method="post" class="w3-container w3-padding w3-text-blue">
            <p><div class="w3-row">
                <div style="width:50px" class="w3-col"><i class="fa fa-user w3-xxlarge"></i></div>
                <div class="w3-rest"><input class="w3-input w3-border w3-round w3-rest" type="text" placeholder="Wiggles" name="user"></div>
            </div></p>
            <p><input class="w3-button w3-blue w3-border w3-round w3-right" type="submit" value="Enter"></p>
        </form>

        <footer class="w3-container w3-blue">
            <p></p>
        </footer>
    </div>
</div>
</body>
</html> 
