<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="5">
    <link rel="stylesheet" href="../static/css/w3.css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <title>Playlist</title>
</head>
<body>
<!-- Heading Bar -->
<div class="w3-bar w3-blue">
    <h3 class="w3-bar-item">Now playing:</h3>
    <div class="w3-hide-medium w3-hide-large">
    <a class="w3-bar-item w3-button w3-xxlarge w3-right w3-red w3-text-black" href="vote/{{ user }}/0/-">
        <i class="fa fa-step-forward w3-text-white"></i>
        <span class="w3-badge w3-large w3-right">{{ queue[0].downvotes|length }}</span></a>
    <a class="w3-bar-item w3-button w3-xxlarge w3-right w3-green w3-text-black" href="search">
        <i class="fa fa-plus w3-text-white"></i>
        <span class="w3-badge w3-large w3-right">{{ queue|length-1 }}</span></a>
    </div>
</div>

<!-- Playing info -->
<div class="w3-row">
    <div class="w3-col s4 m2 l2 w3-padding">
        <img src="{{ queue[0].art_m }}" style="width:200px" class="w3-left w3-image"></img>
    </div>
    <div class="w3-col s6 m8 l8">
        <h3>{{ queue[0].track }}</h3>
        <h4>{{ queue[0].artists }}</h4>
        <h4>{{ queue[0].album }}</h4>
        <div class="w3-light-grey w3-round-xlarge" style="width:90%">
            <div class="w3-bar w3-blue w3-round-xlarge" style="width:{{ 100*progress|default(0)/queue[0].duration }}%">
                <i class="fa fa-unsorted w3-right"></i>
            </div>
        </div>
        <h4>Picked by: {{ queue[0].user }}</h4>
    </div>
    <div class="w3-col w3-hide-small m2 l2">
        <p>
            <a style="width:100px" class="w3-button w3-round-xlarge w3-xxlarge w3-green" href="search">
                <i class="fa fa-plus"></i>
                <span class="w3-badge w3-large w3-right w3-hide-small">{{ queue|length-1 }}</span></a>
        </p>
        <p>
            <a style="width:100px" class="w3-button w3-round-xlarge w3-xxlarge w3-red" href="vote/{{ user }}/0/-">
                <i class="fa fa-step-forward"></i>
                <span class="w3-badge w3-large w3-right w3-hide-small">{{ queue[0].downvotes|length }}</span></a><br/>
        </p>
    </div>
</div>

<!-- Middle Bar -->
<div class="w3-bar w3-blue">
    <div class="w3-bar-item">Queue</div>
</div>

<!-- Queue -->
<div class="w3-cell-row w3-mobile">
    <ul class="w3-ul w3-col s12 m6 l6 w3-border">
        {% for entry in queue[1:6] %}
        <li style="height:90px" class="w3-row">
            <div class="w3-col s1 m1 l1">{{ loop.index }}. </div>
            <div class="w3-col s2 m2 l2"><img src="{{ entry.art_s }}" style="width:50px" class="w3-center w3-image"></img></div>
            <div class="w3-col s7 m6 l6">
                <span class="w3-large">{{ entry.track }}</span><br/>
                {{ entry.artists }}<br/>
                Picked by: {{ entry.user }}
            </div>
            <div class="w3-col s2 m3 l3">
                <a class="w3-button w3-round-xlarge w3-right w3-red" href="vote/{{ user }}/{{ loop.index }}/-">
                <i class="fa fa-thumbs-down"></i>{{ entry.downvotes|length }}</a>
                <a class="w3-button w3-round-xlarge w3-right w3-green" href="vote/{{ user }}/{{ loop.index }}/+">
                <i class="fa fa-thumbs-up"></i>{{ entry.upvotes|length }}</a>
            </div>
        </li>
        {% endfor %}
    </ul>
    <ul class="w3-ul w3-col s12 m6 l6 w3-border">
        {% set offset=5 %}
        {% for entry in queue[6:11] %}
        <li style="height:90px" class="w3-row">
            <div class="w3-col s1 m1 l1">{{ loop.index+offset }}. </div>
            <div class="w3-col s2 m2 l2"><img src="{{ entry.art_s }}" style="width:50px" class="w3-center w3-image"></img></div>
            <div class="w3-col s7 m6 l6">
                <span class="w3-large">{{ entry.track }}</span><br/>
                {{ entry.artists }}<br/>
                Picked by: {{ entry.user }}
            </div>
            <div class="w3-col s2 m3 l3">
                <a class="w3-button w3-round-xlarge w3-right w3-red" href="vote/{{ user }}/{{ loop.index+offset }}/-">
                <i class="fa fa-thumbs-down"></i>{{ entry.downvotes|length }}</a>
                <a class="w3-button w3-round-xlarge w3-right w3-green" href="vote/{{ user }}/{{ loop.index+offset }}/+">
                <i class="fa fa-thumbs-up"></i>{{ entry.upvotes|length }}</a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

<!-- Bottom Bar -->
<div class="w3-bar w3-blue">
    <div class="w3-bar-item">Logged in as {{ user }}</div>
</div>
</body>
</html> 
